.git
node_modules
.next
venv
__pycache__
*.pyc
*.log
nohup.out
checkpoints
uploads
data
model/finetuned_models
model/checkpoints
model/data
model/uploads
k8s
scripts
terraform
*.csv
*.xlsx
*.db
*.sql
*.bak
*.bak2
*.bak3
*.bak4
**/*.bak*
**/*.backup
**/*.stable*
model/generate_*.py
model/train_*.py
model/test_*.py
model/server_old*.py
model/server_new.py
model/server_12sector.py
model/server_v1.py
model/model_base*.py
model/model_mlp.py
model/model_simple.py
monitoring
data
schemalabsai-linux
schemalabsai
schemalabs
backups
frontend kopyası
schemalabs_backup.sql
schema_v1_production.py
schema_v1_poc.py
test_data_large.csv
*.sql
venv
frontend/node_modules
frontend/.next
venv
frontend/node_modules
frontend/.next
*.sh
